* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    background-color: #51A3A3;
    display: grid;
    place-items: center; /* Center align content */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center align children */
    align-items: center; /* Center align children */
}

.calculator {
    background: black;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    max-width: 400px; /* Limit maximum width */
    width: 100%;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.calculator form input.NumpadBtns {
    background: #012a4a;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 2em; /* Adjust font size */
    box-shadow: none;
    padding: 15px;
    background: #218380;
    height: 80px;
    color: white;
}

form input.equal {
    width: 100%; /* Take full width */
    margin-top: 10px; /* Separate from other buttons */
    background: #005f08;
}

form input.ac,
form input.del {
    background: #5f0000;
}

.symbols {
    background-color: #edae49;
}

.special {
    background: #248277;
}

.calculator form input:hover {
    box-shadow: 0px 0px 5px 3px #00000025;
    color: black;
}

@media (max-width: 500px) {
    /* Adjust for smaller screens */
    .calculator form input {
        width: 50px;
        height: 50px;
        font-size: 1.4em;
    }

    form .display input {
        font-size: 1.5em;
    }
}
